/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";
@theme{
    --breakpoint-sm:576px;
    --breakpoint-md:768px;
    --breakpoint-lg:992px;
    --breakpoint-xl:1200px;
    --breakpoint-xxl:1400px;
    --color-main:#FFA216;
    --color-second:#000;
    --font-playfair:"Playfair Display", serif;
    --default-font-family:"Open Sans", sans-serif;
    
}